.home,
.section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  .row,
  .user,
  .history,
  .pages {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .user {
    padding: 0.5rem;
  }

  .pages {
    flex-direction: row;
    align-items: center;
  }
}

.home {
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .home,
  .section {
    .row {
      flex-direction: row;
    }
  }
}
